<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Delete Course</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'courses/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <p>Name: {{course.name}}</p>
        <p>Description: {{course.description}}</p>
        <a href="{% url 'courses:index' %}"><button type="button" name="no">No</button></a>
        <a href="{% url 'courses:confirm_destroy' id=course.id %}"><button type="button" name="Delete">Yes! I want to delete this</button></a>
    </body>
</html>
