* {
    padding: 0;
     border: 0;
}

.green {
    color: green;
}
.red {
    color: red;
}
.options {
    border: 10px dotted pink;
    display: inline-block;
}
#activities {
    overflow: auto;
    width: 1000px;
    height:500px;
    border: 10px dotted pink;
}
